#passwordLabel {
    position: relative;
}

.password-icon {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    right: 10px;
    height: 50%;
    transform: translateY(-50%);
}

.password-icon:hover {
    cursor: pointer;
    transform: translateY(-55%);
}

.eye-off {
    display: none;
    color: grey;
}

.eye-on {
    color: grey;
}
